/* COMMON */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Seven Segment', sans-serif;
}

img{
    max-width: 100%;
}

.calcbox{
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
}

.calcbox > section{
    box-shadow: inset 5px 0px 10px rgb(208, 206, 206);
}

.calculator{
    background-color: rgb(238 238 238);
    border-radius: 10px ;
}

/* SCREEN */
.screen{
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: end;
}

.results{
    color: greenyellow;
    font-size: 35px;
}

/* BUTTONS */

.buttons{
    display: flex;
    justify-content: space-evenly;
}
.numbersbox{
    width: 200px;
    display: flex;
    flex-grow: 5;
    margin: 10px;
}
.operationsbox{
    width: 50px;
    border: 5px solid red;
    flex-grow: 1;
}

.number{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.number span{
    font-family: 'Michroma', sans-serif;
    background-color: lightgray;
    border: 1px solid gray;
    border-radius: 10px;
    text-align: center;
    width: calc(100% / 3 - 10px);
    margin: 5px;
    padding: 20px;
}

.number span:nth-child(10){
    flex-grow: 1;
}
